APP_URL=http://localhost:3000
PUPPETEER_HEADLESS=false
PUPPETEER_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome
PUPPETEER_SLOW_MO=100
# How frequently should puppeteer check for element scrolling
PUPPETEER_SCROLL_CHECK_DELAY=200
