# Set up NODE_PATH for CRA
# jest and cosmos both rely on this to be set
NODE_PATH=src

# URL that Puppeteer will goto. Default value shown
APP_URL=http://localhost:3000

# Run in headless mode? Default value shown
PUPPETEER_HEADLESS=true

# Specify a browser other than Puppeteer Chromium, defaults to `undefined`
PUPPETEER_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome

# Slows down Puppeteer operations by the specified amount of milliseconds.
# Default value shown
PUPPETEER_SLOW_MO=0

# How frequently should Puppeteer check for element scrolling.
# Default value shown
PUPPETEER_SCROLL_CHECK_DELAY=100

# Where should Puppeteer store screenshots?
# Default value shown
PUPPETEER_SCREENSHOTS_FOLDER=screenshots/puppeteer
